/* 
.center{
    text-align: center;
}
.container{
    width: 1700px;
    display: flex;
    margin:0 auto;

}
.block1{
    border: 1px solid black;
    width: 400px;
    height: 200px;
    padding-left: 10px;
    margin: 20px;
}
.textblue{
    border: 1px solid blue;
    color: blue;
    width: 390px;
    height: 20px;
}
.block2{
    border: 1px solid black;
    width: 400px;
    height: 160px;
    padding-left: 10px;
    margin: 20px;
}
@media (max-width:1200px){
    .container{
        width: 1200px;
        display: flex;
        flex-wrap: wrap;
        font-size: 17px;
    }

    
}
@media (max-width:480px){
    .container{
        width: 480px;
    }
} */
body{
    margin: 0 auto;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.container{
    width: 2560px;
}
.content{
    height: 1125px;
}
.text{
    margin: 10px;
    color: white;
}
.poloska{
    display: flex;
    height: 80px;
    background-color: #282a2b;
}
.link{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: flex-end;
}
.textcard{
    width: 440px;
    height: 80px;
    background-color: #282a2b;
    margin: 0px;
    color: white;
}
.card{
    border: 5px solid black;
    width: 440px;
    height: 240px;
    margin: 10px;
}
.allcard{
    display: flex;
}
.poloska-bottom{
    border: 5px solid black;
    background-color: #282a2b;
    height: 80px;
    color: white;
}
@media (max-width:768px){
    .container{
        width: 768px;
    }
    .poloska{
        display: flex;
    }
    .allcard{
        display: flex;
        flex-wrap: wrap;
    }
    .content{
        height: 2000px;
    }
}


