body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 1170px;
    margin:0 auto;
    color: white;
}
.header-inner{
    width: 100%;
    height: 1080px;
}

.header{
    background-image: url("img/background.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-color: grey;

}
.header-bottom{
    margin-top: 200px;
    width: 1170px;
    margin-bottom: 100px;
}
.poloska{
    display: flex;
    justify-content: space-between;
}
.menu{
   display: flex;
   list-style: none;
   color: grey;
}
.center{
    margin:0 auto;
    text-align: center;
    margin-top: 300px;
}
li{
    margin-left: 30px;
}
li:hover{
    transition: 0.5s;
    color: white;
    font-size: 20px;
}
.button{
    display: flex;
    border: 1px solid white;
    padding: 10px;
    width: 100px;
    margin-left: 500px;
    margin-top: 30px;
    transition: 0.5s;
}
.button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 4px 4px 28px 11px rgba(255, 255, 255, 0.25);
}
.text1{
    font-size: 20px;
}
.text2{
    font-size: 15px;
}
.header-bottom{
    color: black;
    margin-left: 550px;
    width: 1170px;
}
.centertext{
    text-align: center;
    color: black;
}
.icon-header{
    justify-content: space-between;
    display: flex;
    margin-top: 150px;
}
.aicon{
    width: 350px;
}
.a{
    margin-left: 30px;
    color: red;
    font-size: 80px;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 100px;
    transition: 0.5s;
}
.a:hover{
    background-color: red;
    color: white;
}
.text3{
    font-size: 20px;
}
.text4{
    font-size: 20px;
}
.text5{
    font-size: 20px;
}
.codeicon{
    width: 350px;
}
.code{
    margin-left: 30px;
    color: red;
    font-size: 80px;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 100px;
    transition: 0.5s;
}
.code:hover{
    background-color: red;
    color: white;
}
.supporticon{
    width: 350px;
}
.support{
    margin-left: 30px;
    color: red;
    font-size: 80px;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 100px;
    transition: 0.5s;
}
.support:hover{
    background-color: red;
    color: white;
}
.footer{
    background-color: #e74c3c;
    justify-content: center;
    display: flex;
    align-items: center;
}
.poloska-bottom{
    justify-content: center;
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icontwitter{
    margin-left: 100px;
}
.twitter{
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    padding: 5px;
    margin-top: 60px;
    margin-left: 10px;
    transition: 0.5s;
}
.twitter:hover{
    background-color: white;
    color: #e74c3c;
}
.textpoloska{
    display: flex;
   
    color: white;
    margin-top: 100px;
    
}






